{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<main class="flex-shrink-0 main-bg">
  <div class="masthead">
    <div class="container">
      <div class="row g-0">
        <div class="col-md-6 masthead-text d-flex">
          <div class="align-self-center">
            <h1 class="post-title">
              {{ post.title }}
            </h1>
            <p class="post-subtitle">
              <em>By</em> <span class="text-white">{{ post.author }}</span>
              <em>published</em> <span class="text-white">{{ post.created_on }}</span>
            </p>
          </div>
        </div>
        <div class="d-none d-md-block col-md-6 masthead-image">
          {% if "placeholder" in post.featured_image.url %}
          <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
          {% else %}
          <img src="{{ post.featured_image.url }}" width="100%">
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">
          <p class="card-text ">
            <!-- safe - allows including HTML tags and special symbols in the template without escaping it -->
            {{ post.content|safe }}
          </p>
          <div class="row">

            <div class="col-1">
              <strong class="text-secondary">
                <i class="far fa-heart"></i>
                {{ post.number_of_likes }}
              </strong>
            </div>
            <div class="col-1">
              <!--
                - with ... as .. - allows us to create a variable inside the template;
                - comments.count - returns the number of comments for the post;
              -->
              {% with comments.count as total_comments %}
              <strong class="text-secondary">
                <i class="far fa-comments"></i>
                {{ total_comments }}
              </strong>
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span> wrote:
            </p>
            <!-- linebreaks - Replaces line breaks in plain text with appropriate HTML -->
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% else %}
            <h3>Leave a comment:</h3>
            <!-- Comment block will appear only if the user is authenticated -->
            {% if user.is_authenticated %}
              <p>Posting as: {{ user.username }}</p>
              <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <button type="submit" class="btn btn-signup float-end">Submit</button>
              </form>
            {% else %}
                <!--
                  - If the user is not authenticated, they will be prompted to sign in to comment on the post;
                  - 'next' - parameter will redirect the user to 'next' page/url after successful login
                  - request.path - returns the path of the requested page
                  It's related to the hidden input field in the login form:
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                -->
                <a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'account_login' %}?next={{request.path}}">
                  Sign In to comment on this post
                </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}